<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- SENSOR -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Izin untuk Akses Lokasi dan Internet -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Belajar"
        tools:targetApi="31">

        <activity
            android:name=".UserResponse"
            android:exported="false" />
        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".MainActivity41"
            android:exported="false" />
        <activity
            android:name=".LoginResponse"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ApiService"
            android:exported="false" />
        <activity
            android:name=".ApiClient"
            android:exported="false" />

        <activity
            android:name=".MainActivity37"
            android:exported="false" />
         <activity
         android:name=".MovieDBActivity37"
         android:exported="false" />
         <activity
         android:name=".MovieAdapter37"
         android:exported="false" />
         <activity
         android:name=".ModelMovie37"
         android:exported="false" />
         <activity
         android:name=".JSONObjectRequestListener37"
         android:exported="false" />
         <activity
         android:name=".JsonParseActivity37"
         android:exported="false" />
         <activity
         android:name=".HttpHandle37"
         android:exported="false" />
         <activity
         android:name=".FragmentMovie37"
         android:exported="false" />
         <activity
         android:name="ApiEndPoint37"
         android:exported="false" />
         <activity
         android:name=".JsonAPIActivity37"
         android:exported="false" />


        <activity
            android:name=".ProximitySensorActivity35"
            android:exported="false" />
        <activity
            android:name=".AllSensor35"
            android:exported="false" />
        <activity
            android:name=".LightSensor35"
            android:exported="false" />
        <activity
            android:name=".AksesSensor35"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSeAAAM_dB_ObZj1I3pU24toufpAZUUcU" />

        <activity
            android:name=".LBS33"
            android:exported="false"
            android:label="@string/title_activity_lbs33" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".BenuaAdapter"
            android:exported="false" />
        <activity
            android:name=".RecycleView"
            android:exported="false" />
        <activity
            android:name=".Preferences30"
            android:exported="false" />
        <activity
            android:name=".KonsepPreferences30"
            android:exported="false" />
        <activity
            android:name=".UpdateBiodata"
            android:exported="false" />
        <activity
            android:name=".LihatBiodata"
            android:exported="false" />
        <activity
            android:name=".BuatBiodata"
            android:exported="false" />
        <activity
            android:name=".ImplementasiSQLite"
            android:exported="false" />
        <activity
            android:name=".DataHelper"
            android:exported="false" />
        <activity
            android:name=".ManagementFile2"
            android:exported="false" />
        <activity
            android:name=".ManagementFile1"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".IntentExplicit"
            android:exported="false" />
        <activity
            android:name=".IntentImplicit"
            android:exported="false" />
        <activity
            android:name=".SecondFragment"
            android:exported="false" />
        <activity
            android:name=".FirstFragment"
            android:exported="false" />
        <activity
            android:name=".Fragmentt"
            android:exported="false" />
        <activity
            android:name=".AutoCompleteTextView"
            android:exported="true" />
        <activity
            android:name=".Stringg"
            android:exported="false" />
        <activity
            android:name=".HorizontalScrollVieww"
            android:exported="false" />
        <activity
            android:name=".LinearLayout9"
            android:exported="false" />
        <activity
            android:name=".MaterialDesign"
            android:exported="false" />
        <activity
            android:name=".TabelLayout"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayout"
            android:exported="false" />
        <activity
            android:name=".FrameLayout"
            android:exported="false" />
        <activity
            android:name=".RelativeLayout"
            android:exported="false" /> <!-- Aktivitas ScrollView -->
        <activity
            android:name=".ScrollView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>